autostart/
brightness/
calibre/
chromium/
Code/
compiz-1/
configstore/
dconf/
eog/
evolution/
gedit/
gnome-session/
goa-1.0/
gthumb/
gtk-2.0/
gtk-3.0/
i3/
ibus/
inkscape/
libaccounts-glib/
libreoffice/
menus/
nautilus/
nitrogen/
obs-studio/
Philipp Schmieder/
polybar/
pulse/
qpdfview/
rclone/
Thunar/
totem/
transmission/
unity/
update-notifier/
upstart/
VirtualBox/
vokoscreen/
xfce4/
xm1/
Xresources/
Zeal/

mimeapps.list
QtProject.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
accounts.conf
gtkfilechooser.ini
bookmarks
settings.ini
kdeglobals
kdenliverc
nvim/autoload/

